<mat-toolbar color="primary">
  <div *ngIf="auth.user$ | async;">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [routerLink]="['']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item [routerLink]="['/professors']">
        <mat-icon>people_outline</mat-icon>
        <span>Professors</span>
      </button>
      <button mat-menu-item [routerLink]="['/students']">
        <mat-icon>people_outline</mat-icon>
        <span>Students</span>
      </button>
      <button mat-menu-item [routerLink]="['/courses']">
        <mat-icon>subject</mat-icon>
        <span>Courses</span>
      </button>
      <button mat-menu-item [routerLink]="['/tests']">
        <mat-icon>feed</mat-icon>
        <span>Tests</span>
      </button>
    </mat-menu>
  </div>

  <span>Semantic Web</span>
  <span style="flex: 1 1 auto;"></span>

  <div *ngIf="auth.user$ | async; else login">
    <button mat-button (click)="auth.logout()" routerLink="/">
      <span>Log Out</span>
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <ng-template #login>
    <button mat-button routerLink="/login">
      <mat-icon>login</mat-icon>
      Log In
    </button>
  </ng-template>


</mat-toolbar>