<div class="center">
  <mat-card class="form" [ngClass]="{'errorBorder': formState==='fail'}">
    <mat-card-title>
      Log In
    </mat-card-title>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance='fill'>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance='fill'>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
          </mat-form-field>
        </div>

        <button mat-flat-button color="primary" style="width: 100%">
          Log In
        </button>
      </form>

      <!-- <p style="padding: 10px;">or</p>

      <div class="center">
        <button mat-raised-button (click)="googleLogin()">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/800px-Google_%22G%22_Logo.svg.png"
            style="width: 25px;">
          Continue with Google
        </button>
      </div> -->
    </mat-card-content>
  </mat-card>
</div>